<!DOCTYPE html>
<html>
    <head>
        <title>Random Colors</title>
    </head>
	
    <style>
        body{
            background-color:#{{color2}};
        }
        p{
            color:#{{ color1 }};
            font-family:"Courier New", Courier, monospace;
            font-size:550%;
            text-align:center;
            margin-left:10%;
            margin-right:10%;
            position:absolute;
            top:20%;
        }
    </style>

    <body>	
        <p>
            This is the color #{{color1}}, and the color of the background is #{{color2}}
        </p>   
    </body>
</html>
